<h2>Sign Up</h2>

<form class="" action="/users" method="post">
  <label for="name">Name: </label><br>
  <input type="text" name="name" value=""><br>
  <label for="email">Email: </label><br>
  <input type="text" name="email" value=""><br>
  <label for="password">Password: </label><br>
  <input type="password" name="password" value=""><br>
  <label for="password">Bio: </label><br>
  <input type="text" name="bio" value=""><br>
  <label for="password">Image URL: </label><br>
  <input type="text" name="image_url" value=""><br>
  <input type="submit" name="" value="Create User"><br>
</form>
<br>
<a href="/">Back</a>